<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close modal--close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary modal--close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<nav class='navbar navbar-light bg-light static-top'>
    <div class='container'>
        <a class="navbar-brand" href="/">ACE SQUADRON</a>
        <a class="btn btn-primary" href="/fight">Start Game</a>
        <a class="btn btn-primary" href="/create">Create Squadron</a>
        <a class="btn btn-primary" href="/faq">FAQ</a>
    </div>
</nav>
<!-- <section class='general'>
        <div class='container'>
            <div class='general--creation'>
                <div class='general--photo'>
                    <img src='placeholder.png' alt='Your general here!' class='general--photo--set'>
                </div>
                <div class='general--data'>
                    <div class='general--data--wrapper'>
                        <div class='data--entry firstName'>
                            <label for='firstName' class='general-data-label'>General Name:</label>
                            <input type='text' class='general--data--collection' id='firstName' name='firstName'>
                        </div>
                        <div class='data--entry photoName'>
                            <label for='photo-collector' class='general-data-label'>Photo Link:</label>
                            <input type='text' class='general--data--collection' name='photo-collector' id='photo-src'>
                        </div>
                        <div class='data--entry pointAllocator'>
                            <p class='general--distribute'>
                                Distribute 10 points!
                            </p>
                            <div class='point--spender'>
                                <label for='attack-collector'>Attack:</label>
                                <input type='number' class='general--data--collection' name='attack--collector' id='attack--collector'
                                    min='0' max='10' value='0'>
                                <label for='defense-collector'>Defense:</label>
                                <input type='number' class='general--data--collection' name='defense--collector' id='defense--collector'
                                    min='0' max='10' value='0'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<div class='large--spacer'></div>
<section class='squad'>
    <div class='container'>
        <div class='squad--info'>
            <h2 class='squad--header'>
                Create your Squad!
            </h2>
            <div class="squad--header--name">
                <label for="squad--name">Squad Name:</label>
                <input type="text" id='squad--name'>
            </div>
        </div>

        <div class='large--spacer'></div>

        <div class='squad--creation'>
            <div class='squad--choice'>
                <div class='squad--photo--wrapper'>
                    <img src='/img/sky.jpg' alt='Your squad plane here' class='squad--photo' id='squad-photo-1'>
                </div>
                <div class='squad--plane'>
                    <label for='plane--selector'>Plane 1: </label>
                    <select id='plane1' class='plane--selector' name='plane--selector'>
                        <option value=" " selected='selected'></option>
                    </select>
                    <ul class='plane--info'>
                        <li class='plane--name' id='plane--name--1'>Name: Select a unit!</li>
                        <li class='plane--hp' id='plane--hp--1'>HP: Select a unit!</li>
                        <li class='plane--attack' id='plane--attack--1'>Attack: Select a unit!</li>
                        <li class='plane--eva' id='plane--eva--1'>Evasion %: Select a unit!</li>
                        <li class='plane--crit' id='plane--crit--1'>Crit %: Select a unit!</li>
                    </ul>
                </div>
            </div>
            <div class='squad--choice'>
                <div class='squad--photo--wrapper'>
                    <img src='/img/sky.jpg' alt='Your squad plane here' class='squad--photo' id='squad-photo-2'>
                </div>
                <div class='squad--plane'>
                    <label for='plane--selector'>Plane 2:</label>
                    <select id='plane2' class='plane--selector' name='plane--selector'>
                        <option value=" " selected='selected'></option>
                    </select>
                    <ul class='plane--info'>
                        <li class='plane--name' id='plane--name--2'>Name: Select a unit!</li>
                        <li class='plane--hp' id='plane--hp--2'>HP: Select a unit!</li>
                        <li class='plane--attack' id='plane--attack--2'>Attack: Select a unit!</li>
                        <li class='plane--eva' id='plane--eva--2'>Evasion %: Select a unit!</li>
                        <li class='plane--crit' id='plane--crit--2'>Crit %: Select a unit!</li>
                    </ul>
                </div>
            </div>
            <div class='squad--choice'>
                <div class='squad--photo--wrapper'>
                    <img src='/img/sky.jpg' alt='Your squad plane here' class='squad--photo' id='squad-photo-3'>
                </div>
                <div class='squad--plane'>
                    <label for='plane--selector'>Plane 3:</label>
                    <select id='plane3' class='plane--selector' name='plane--selector'>
                        <option value=" " selected='selected'></option>
                    </select>
                    <ul class='plane--info'>
                        <li class='plane--name' id='plane--name--3'>Name: Select a unit!</li>
                        <li class='plane--hp' id='plane--hp--3'>HP: Select a unit!</li>
                        <li class='plane--attack' id='plane--attack--3'>Attack: Select a unit!</li>
                        <li class='plane--eva' id='plane--eva--3'>Evasion %: Select a unit!</li>
                        <li class='plane--crit' id='plane--crit--3'>Crit %: Select a unit!</li>
                    </ul>
                </div>
            </div>
            <div class='squad--choice'>
                <div class='squad--photo--wrapper'>
                    <img src='/img/sky.jpg' alt='Your squad plane here' class='squad--photo' id='squad-photo-4'>
                </div>
                <div class='squad--plane'>
                    <label for='plane--selector'>Plane 4:</label>
                    <select id='plane4' class='plane--selector' name='plane--selector'>
                        <option value=" " selected='selected'></option>
                    </select>
                    <ul class='plane--info'>
                        <li class='plane--name' id='plane--name--4'>Name: Select a unit!</li>
                        <li class='plane--hp' id='plane--hp--4'>HP: Select a unit!</li>
                        <li class='plane--attack' id='plane--attack--4'>Attack: Select a unit!</li>
                        <li class='plane--eva' id='plane--eva--4'>Evasion %: Select a unit!</li>
                        <li class='plane--crit' id='plane--crit--4'>Crit %: Select a unit!</li>
                    </ul>
                </div>
            </div>
            <div class='squad--choice'>
                <div class='squad--photo--wrapper'>
                    <img src='/img/sky.jpg' alt='Your squad plane here' class='squad--photo' id='squad-photo-5'>
                </div>
                <div class='squad--plane'>
                    <label for='plane--selector'>Plane 5:</label>
                    <select id='plane5' class='plane--selector' name='plane--selector'>
                        <option value=" " selected='selected'></option>
                    </select>
                    <ul class='plane--info'>
                        <li class='plane--name' id='plane--name--5'>Name: Select a unit!</li>
                        <li class='plane--hp' id='plane--hp--5'>HP: Select a unit!</li>
                        <li class='plane--attack' id='plane--attack--5'>Attack: Select a unit!</li>
                        <li class='plane--eva' id='plane--eva--5'>Evasion %: Select a unit!</li>
                        <li class='plane--crit' id='plane--crit--5'>Crit %: Select a unit!</li>
                    </ul>
                </div>
            </div>
            <div class='squad--choice'>
                <div class='squad--photo--wrapper'>
                    <img src='/img/sky.jpg' alt='Your squad plane here' class='squad--photo' id='squad-photo-6'>
                </div>
                <div class='squad--plane'>
                    <label for='plane--selector'>Plane 6:</label>
                    <select id='plane6' class='plane--selector' name='plane--selector'>
                        <option value=" " selected='selected'></option>
                    </select>
                    <ul class='plane--info'>
                        <li class='plane--name' id='plane--name--6'>Name: Select a unit!</li>
                        <li class='plane--hp' id='plane--hp--6'>HP: Select a unit!</li>
                        <li class='plane--attack' id='plane--attack--6'>Attack: Select a unit!</li>
                        <li class='plane--eva' id='plane--eva--6'>Evasion %: Select a unit!</li>
                        <li class='plane--crit' id='plane--crit--6'>Crit %: Select a unit!</li>
                    </ul>
                </div>
            </div>
            <div class='squad--choice'>
                <div class='squad--photo--wrapper'>
                    <img src='/img/sky.jpg' alt='Your squad plane here' class='squad--photo' id='squad-photo-7'>
                </div>
                <div class='squad--plane'>
                    <label for='plane--selector'>Plane 7:</label>
                    <select id='plane7' class='plane--selector' name='plane--selector' selected=''>
                        <option value=" " selected='selected'></option>
                    </select>
                    <ul class='plane--info'>
                        <li class='plane--name' id='plane--name--7'>Name: Select a unit!</li>
                        <li class='plane--hp' id='plane--hp--7'>HP: Select a unit!</li>
                        <li class='plane--attack' id='plane--attack--7'>Attack: Select a unit!</li>
                        <li class='plane--eva' id='plane--eva--7'>Evasion %: Select a unit!</li>
                        <li class='plane--crit' id='plane--crit--7'>Crit %: Select a unit!</li>
                    </ul>
                </div>
            </div>
            <div class='squad--choice'>
                <div class='squad--photo--wrapper'>
                    <img src='/img/sky.jpg' alt='Your squad plane here' class='squad--photo' id='squad-photo-8'>
                </div>
                <div class='squad--plane'>
                    <label for='plane--selector'>Plane 8:</label>
                    <select id='plane8' class='plane--selector' name='plane--selector'>
                        <option value=" " selected='selected'></option>
                    </select>
                    <ul class='plane--info'>
                        <li class='plane--name' id='plane--name--8'>Name: Select a unit!</li>
                        <li class='plane--hp' id='plane--hp--8'>HP: Select a unit!</li>
                        <li class='plane--attack' id='plane--attack--8'>Attack: Select a unit!</li>
                        <li class='plane--eva' id='plane--eva--8'>Evasion %: Select a unit!</li>
                        <li class='plane--crit' id='plane--crit--8'>Crit %: Select a unit!</li>
                    </ul>
                </div>
            </div>
            <div class='squad--choice'>
                <div class='squad--photo--wrapper'>
                    <img src='/img/sky.jpg' alt='Your squad plane here' class='squad--photo' id='squad-photo-9'>
                </div>
                <div class='squad--plane'>
                    <label for='plane--selector'>Plane 9:</label>
                    <select id='plane9' class='plane--selector' name='plane--selector'>
                        <option value=" " selected='selected'></option>
                    </select>
                    <ul class='plane--info'>
                        <li class='plane--name' id='plane--name--9'>Name: Select a unit!</li>
                        <li class='plane--hp' id='plane--hp--9'>HP: Select a unit!</li>
                        <li class='plane--attack' id='plane--attack--9'>Attack: Select a unit!</li>
                        <li class='plane--eva' id='plane--eva--9'>Evasion %: Select a unit!</li>
                        <li class='plane--crit' id='plane--crit--9'>Crit %: Select a unit!</li>
                    </ul>
                </div>
            </div>
            <div class='squad--choice'>
                <div class='squad--photo--wrapper'>
                    <img src='/img/sky.jpg' alt='Your squad plane here' class='squad--photo' id='squad-photo-10'>
                </div>
                <div class='squad--plane'>
                    <label for='plane--selector'>Plane 10:</label>
                    <select id='plane10' class='plane--selector' name='plane--selector'>
                        <option value=" " selected='selected'></option>
                    </select>
                    <ul class='plane--info'>
                        <li class='plane--name' id='plane--name--10'>Name: Select a unit!</li>
                        <li class='plane--hp' id='plane--hp--10'>HP: Select a unit!</li>
                        <li class='plane--attack' id='plane--attack--10'>Attack: Select a unit!</li>
                        <li class='plane--eva' id='plane--eva--10'>Evasion %: Select a unit!</li>
                        <li class='plane--crit' id='plane--crit--10'>Crit %: Select a unit!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class='large--spacer'></div>

<section class='submit--area'>
    <div class="container">
        <div class="submit--container">
            <button type="reset" class='btn btn-primary' id='reset'>Reset</button>
            <button type="submit" class='btn btn-primary' id='submit'>Submit Squad</button>
            <p class='center'>
                <a href="fight">
                    <button class='btn btn-primary'>Fight!</button>
                </a>
            </p>
        </div>
    </div>
</section>

<div class='large--spacer'></div>
<script src='/js/create.js'></script>