    <nav class='navbar navbar-light bg-light static-top'>
        <div class='container'>
            <a class="navbar-brand" href="/">ACE SQUADRON</a>
            <a class="btn btn-primary" href="/fight">Start Game</a>
            <a class="btn btn-primary" href="/create">Create Squadron</a>
            <a class="btn btn-primary" href="/faq">FAQ</a>
        </div>
    </nav>

    <div class='large--spacer'></div>

    <header>
        <div class="container">
            <div class="header--title--container">
                <div class="header--title--wrapper">
                    <h2 class='header--title--main'>Ace Squadron</h2>
                    <h3 class='header--title--sub'>Instructions</h2>
                </div>
            </div>
        </div>
    </header>

    <div class='large--spacer'></div>

    <section class='main'>
        <div class="container">
            <div class="main--container">
                <div class="main-header">
                    <h4>
                        How to Play:
                    </h4>
                    <p class='main--htp--p'>
                        You may either jump straight into the game by clicking the fight button where you will choose
                        your Squadron, or you
                        can create your own Squad. When you get to the fight page, there will be two columns. On the
                        left, you will get to
                        choose whichever squad you like from our database of Squads to be your team. On the right hand side,
                        you get to choose the opposing force to fight.
                    </p>
                    <p class='main--htp--p'>
                        From there, you click
                        the fight button and get back relevent combat information.
                        When a plane is killed the attacker will retarget and find another enemy plane with HP to attack. The last with plane(s) remaining is the victor.
                    </p>
                    <!-- <h4>
                        General Creation:
                    </h4>
                    <p class='main--htp--p'>
                        Squad creation starts off with you creating your General.
                        You may add a photo url for us to use
                        as the representation of your general.
                    </p>
                    <p class='main--htp--p'>
                        After choosing a name and a photo of your general, you will be able to allocate points in
                        attack and defense.
                        These points will allow your entire Squadron to benefit in the correlating areas.
                        If you choose to go full attack, your General will be a glass cannon. Allowing your planes to
                        deal more damage, but
                        they will also take more damage than usual since your general isn't supporting them
                        defensively.
                    </p> -->
                    <h4>
                        Squad Creation:
                    </h4>
                    <p class='main--htp--p'>
                        In the Squad creation area, you will get to choose 10 planes to accompany you into battle.
                        These planes have unique stats, which reflect their combat prowess.

                        <ul class='htp--ul'>
                            <li class='htp--li'>HP: how many health points any one plane has.</li>
                            <li class='htp--li'>Attack: the offensive strength of the plane.</li>
                            <li class='htp--li'>Evasion: the % chance your plane has to evade an attack made against
                                them.</li>
                        </ul>

                        You have the option of choosing whatever kind of squad composition you desire. Will you go
                        glass cannon?
                        Will you be beefy brother? How about an evasion overlord?

                        Do you want to fly straight into the danger zone or construct your own Squad?
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class='large--spacer'></div>

    <section class='buttons'>
        <div class="container">
            <div class="button--container">
                <a class="btn btn-primary" href="/fight">Start Game</a>
                <a class="btn btn-primary" href="/create">Create Squadron</a>
            </div>
        </div>
    </section>

    <div class='large--spacer'></div>