<video autoplay muted loop id="backgroundVideo">
    <source src="/videos/seaOfClouds.mp4" type="video/mp4">
</video>
<div class="container">
    <div class="row">

        <div class="col-4 unitWrapper" style="background-color: #7f7b82;">
            <div class='form-field'>
                <label for='sizeFilter'>Choose a Squad</label>
                <select id='sizeFilter' class='form-control'>
                    <option>Choose size</option>}
                    {{!-- {{#each shoes}}
                    <option value="{{this}}">{{this.size}}</option>
                    {{/each}} --}}
                </select>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="b1lancer.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team1Stats0 teamStats">
                        <p class="team1unitName0">Name</p>
                        <p class="team1unitHP0">Health: 100</p>
                        <p class="team1unit0"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="f-15.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team1Stats1 teamStats">
                        <p class="team1unitName1">Name</p>
                        <p class="team1unitHP1">Health: 100</p>
                        <p class="team1unit1"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="f-15.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team1Stats2 teamStats">
                        <p class="team1unitName2">Name</p>
                        <p class="team1unitHP2">Health: 100</p>
                        <p class="team1unit2"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="f-15.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team1Stats3 teamStats">
                        <p class="team1unitName3">Name</p>
                        <p class="team1unitHP3">Health: 100</p>
                        <p class="team1unit3"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="f-15.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team1Stats4 teamStats">
                        <p class="team1unitName4">Name</p>
                        <p class="team1unitHP4">Health: 100</p>
                        <p class="team1unit4"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="f-15.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team1Stats5 teamStats">
                        <p class="team1unitName5">Name</p>
                        <p class="team1unitHP5">Health: 100</p>
                        <p class="team1unit5"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="f-15.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team1Stats6 teamStats">
                        <p class="team1unitName6">Name</p>
                        <p class="team1unitHP6">Health: 100</p>
                        <p class="team1unit6"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="f-15.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team1Stats7 teamStats">
                        <p class="team1unitName7">Name</p>
                        <p class="team1unitHP7">Health: 100</p>
                        <p class="team1unit7"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="f-15.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team1Stats8 teamStats">
                        <p class="team1unitName8">Name</p>
                        <p class="team1unitHP8">Health: 100</p>
                        <p class="team1unit8"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="f-15.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team1Stats9 teamStats">
                        <p class="team1unitName9">Name</p>
                        <p class="team1unitHP9">Health: 100</p>
                        <p class="team1unit9"></p>
                    </div>
                </div>
            </div>
            <div class="dice1"></div>
        </div>
        <div class="col-4 text-center">
            <h1 class="title">FIGHT TO THE DEATH</h1>
            <p class="titleWording">Click fight to roll the dice and see who attacks who</p>
            <table class="mainTable text-centered">
                <tr class="tableHeads">
                    <th class="team tableStats">Team</th>
                    <th class="teamAttack tableStats">Health</th>
                    <th class="teamCrit tableStats">Attack</th>
                    <th class="teamDodge tableStats">Crit</th>
                    <th class="teamHealth tableStats">Dodge</th>
                </tr>
                <tr class="tabledata1">
                    <td class="tOneTotalTeam">1</td>
                    <td class="tOneTotalHealth"></td>
                    <td class="tOneTotalAttack"></td>
                    <td class="tOneTotalCrit"></td>
                    <td class="tOneTotalDodge"></td>
                </tr>
                <tr class="tabledata2">
                    <td class="tTwoTotalTeam">2</td>
                    <td class="tTwoTotalHealth"></td>
                    <td class="tTwoTotalAttack"></td>
                    <td class="tTwoTotalCrit"></td>
                    <td class="tTwoTotalDodge"></td>
                </tr>
            </table>
            <button class="fight fightBtn btn btn-primary">Fight</button>
            <a class="btn btn-secondary returnToBase" href="/">Return to Base</a>
        </div>
        <div class="col-4 unitWrapper" style="background-color: #7f7b82;">
            <div class='form-field'>
                <label for='sizeFilter'>Choose an Enemy</label>
                <select id='sizeFilter' class='form-control'>
                    <option>Choose size</option>}
                    {{!-- {{#each shoes}}
                    <option value="{{this}}">{{this.size}}</option>
                    {{/each}} --}}
                </select>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="tu-160.jpg" width="60px" class="t1p0 img">
                </div>
                <div class="col-10">
                    <div class="team2Stats0 teamStats">
                        <p class="team2unitName0">Name</p>
                        <p class="team2unitHP0">Health: 100</p>
                        <p class="team2unit0"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="/img/su-35.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team2Stats1 teamStats">
                        <p class="team2unitName1">Name</p>
                        <p class="team2unitHP1">Health: 100</p>
                        <p class="team2unit1"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="/img/su-35.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team2Stats2 teamStats">
                        <p class="team2unitName2">Name</p>
                        <p class="team2unitHP2">Health: 100</p>
                        <p class="team2unit2"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="/img/su-35.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team2Stats3 teamStats">
                        <p class="team2unitName3">Name</p>
                        <p class="team2unitHP3">Health: 100</p>
                        <p class="team2unit3"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="/img/su-35.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team2Stats4 teamStats">
                        <p class="team2unitName4">Name</p>
                        <p class="team2unitHP4">Health: 100</p>
                        <p class="team2unit4"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="/img/su-35.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team2Stats5 teamStats">
                        <p class="team2unitName5">Name</p>
                        <p class="team2unitHP5">Health: 100</p>
                        <p class="team2unit5"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="/img/su-35.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team2Stats6 teamStats">
                        <p class="team2unitName6">Name</p>
                        <p class="team2unitHP6">Health: 100</p>
                        <p class="team2unit6"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="/img/su-35.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team2Stats7 teamStats">
                        <p class="team2unitName7">Name</p>
                        <p class="team2unitHP7">Health: 100</p>
                        <p class="team2unit7"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="/img/su-35.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team2Stats8 teamStats">
                        <p class="team2unitName8">Name</p>
                        <p class="team2unitHP8">Health: 100</p>
                        <p class="team2unit8"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 picWrapper">
                    <img src="/img/su-35.jpg" width="60px" class="img">
                </div>
                <div class="col-10">
                    <div class="team2Stats9 teamStats">
                        <p class="team2unitName9">Name</p>
                        <p class="team2unitHP9">Health: 100</p>
                        <p class="team2unit9"></p>
                    </div>
                </div>
            </div>
            <div class="dice2"></div>
        </div>
    </div>
</div>

<script src="/js/fight.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>